.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
*.tfvars.json
health.zip
# SI versionar .terraform.lock.hcl tras ejecutar terraform init.
tfplan*
*.plan
**/.env
**/.env.local
**/.env.production
**/.env.*.local
**/terraform.tfvars
**/terraform.tfvars.json
**/*.auto.tfvars
**/*.tfstate
**/*.tfstate.*
**/.terraform/
**/.vercel/
**/node_modules/
**/.next/
**/target/
**/tfplan*