.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
*.tfvars.json
health.zip
# SI versionar .terraform.lock.hcl tras ejecutar terraform init.
tfplan*
*.plan

# Datos sensibles o efímeros de desarrollo
*.auto.tfvars
*.auto.tfvars.json
.terraform.tfstate.lock.info
